-- Motor parts master catalog (Super Admin). Edge uses service role (bypasses RLS).

CREATE TABLE IF NOT EXISTS public.part_category (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  parent_id uuid REFERENCES public.part_category (id) ON DELETE SET NULL,
  slug text NOT NULL,
  label text NOT NULL,
  sort_order integer NOT NULL DEFAULT 0,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now(),
  CONSTRAINT part_category_slug_unique UNIQUE (slug)
);

CREATE INDEX IF NOT EXISTS idx_part_category_parent ON public.part_category (parent_id);

CREATE TABLE IF NOT EXISTS public.part_master (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  category_id uuid NOT NULL REFERENCES public.part_category (id) ON DELETE RESTRICT,
  name text NOT NULL,
  oem_part_number text,
  description text,
  metadata jsonb NOT NULL DEFAULT '{}'::jsonb,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

CREATE INDEX IF NOT EXISTS idx_part_master_category ON public.part_master (category_id);
CREATE INDEX IF NOT EXISTS idx_part_master_name ON public.part_master (name);

CREATE TABLE IF NOT EXISTS public.supplier (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name text NOT NULL,
  contact_email text,
  contact_phone text,
  default_lead_time_days integer,
  notes text,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

CREATE TABLE IF NOT EXISTS public.supplier_part_offer (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  supplier_id uuid NOT NULL REFERENCES public.supplier (id) ON DELETE CASCADE,
  part_id uuid NOT NULL REFERENCES public.part_master (id) ON DELETE CASCADE,
  supplier_sku text NOT NULL,
  unit_price numeric NOT NULL DEFAULT 0,
  currency text NOT NULL DEFAULT 'USD',
  moq integer NOT NULL DEFAULT 1,
  lead_time_days integer,
  url text,
  is_active boolean NOT NULL DEFAULT true,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now(),
  CONSTRAINT supplier_part_offer_supplier_part_sku_unique UNIQUE (supplier_id, part_id, supplier_sku)
);

CREATE INDEX IF NOT EXISTS idx_supplier_part_offer_part ON public.supplier_part_offer (part_id);
CREATE INDEX IF NOT EXISTS idx_supplier_part_offer_supplier ON public.supplier_part_offer (supplier_id);

CREATE TABLE IF NOT EXISTS public.part_fitment (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  part_id uuid NOT NULL REFERENCES public.part_master (id) ON DELETE CASCADE,
  vehicle_catalog_id uuid NOT NULL REFERENCES public.vehicle_catalog (id) ON DELETE CASCADE,
  chassis_code text,
  engine_code text,
  year_from integer,
  year_to integer,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now(),
  CONSTRAINT part_fitment_part_catalog_unique UNIQUE (part_id, vehicle_catalog_id)
);

CREATE INDEX IF NOT EXISTS idx_part_fitment_catalog ON public.part_fitment (vehicle_catalog_id);
CREATE INDEX IF NOT EXISTS idx_part_fitment_part ON public.part_fitment (part_id);

COMMENT ON TABLE public.part_category IS 'Hierarchical part categories (admin-managed).';
COMMENT ON TABLE public.part_master IS 'Canonical part records for sourcing.';
COMMENT ON TABLE public.supplier IS 'Parts vendors.';
COMMENT ON TABLE public.supplier_part_offer IS 'Per-supplier pricing and lead time for a part.';
COMMENT ON TABLE public.part_fitment IS 'Links parts to vehicle_catalog variants; optional chassis/engine gates.';

ALTER TABLE public.part_category ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.part_master ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.supplier ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.supplier_part_offer ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.part_fitment ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "part_category_no_direct_access" ON public.part_category;
CREATE POLICY "part_category_no_direct_access"
  ON public.part_category FOR ALL
  TO authenticated
  USING (false)
  WITH CHECK (false);

DROP POLICY IF EXISTS "part_master_no_direct_access" ON public.part_master;
CREATE POLICY "part_master_no_direct_access"
  ON public.part_master FOR ALL
  TO authenticated
  USING (false)
  WITH CHECK (false);

DROP POLICY IF EXISTS "supplier_no_direct_access" ON public.supplier;
CREATE POLICY "supplier_no_direct_access"
  ON public.supplier FOR ALL
  TO authenticated
  USING (false)
  WITH CHECK (false);

DROP POLICY IF EXISTS "supplier_part_offer_no_direct_access" ON public.supplier_part_offer;
CREATE POLICY "supplier_part_offer_no_direct_access"
  ON public.supplier_part_offer FOR ALL
  TO authenticated
  USING (false)
  WITH CHECK (false);

DROP POLICY IF EXISTS "part_fitment_no_direct_access" ON public.part_fitment;
CREATE POLICY "part_fitment_no_direct_access"
  ON public.part_fitment FOR ALL
  TO authenticated
  USING (false)
  WITH CHECK (false);

-- Seed eight parent categories (MVP groups)
INSERT INTO public.part_category (slug, label, sort_order, parent_id)
VALUES
  ('engine-components', 'Engine & Components', 10, NULL),
  ('transmission-drivetrain', 'Transmission & Drivetrain', 20, NULL),
  ('suspension', 'Suspension & Components', 30, NULL),
  ('brake', 'Brake System', 40, NULL),
  ('cooling', 'Cooling Components', 50, NULL),
  ('electrical-computers', 'Electrical & Computers', 60, NULL),
  ('lighting-mirrors', 'Lighting & Mirrors', 70, NULL),
  ('body-door', 'Body & Door Parts', 80, NULL)
ON CONFLICT (slug) DO NOTHING;
