-- Inserts motor catalog rows via SQL (SECURITY DEFINER) so values are not dropped when PostgREST's
-- schema cache lags behind Postgres (see 20260428120000 comment + Super Admin CSV import drift).
-- Called from Edge with service_role only.

CREATE OR REPLACE FUNCTION public.edge_insert_vehicle_catalog_row(p jsonb)
RETURNS jsonb
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  v_id uuid;
  out jsonb;
BEGIN
  INSERT INTO public.vehicle_catalog (
    make,
    model,
    production_start_year,
    production_end_year,
    production_start_month,
    production_end_month,
    trim_series,
    generation,
    full_model_code,
    catalog_trim,
    emissions_prefix,
    trim_suffix_code,
    chassis_code,
    generation_code,
    engine_code,
    engine_type,
    body_type,
    doors,
    length_mm,
    width_mm,
    height_mm,
    wheelbase_mm,
    ground_clearance_mm,
    engine_displacement_l,
    engine_displacement_cc,
    engine_configuration,
    fuel_category,
    fuel_type,
    fuel_grade,
    transmission,
    drivetrain,
    horsepower,
    torque,
    torque_unit,
    fuel_tank_capacity,
    fuel_tank_unit,
    seating_capacity,
    curb_weight_kg,
    gross_vehicle_weight_kg,
    max_payload_kg,
    max_towing_kg,
    model_code,
    front_brake_type,
    rear_brake_type,
    brake_size_mm,
    tire_size,
    bolt_pattern,
    wheel_offset_mm,
    engine_oil_capacity_l,
    coolant_capacity_l,
    updated_at
  )
  VALUES (
    COALESCE(NULLIF(trim(p->>'make'), ''), ''),
    COALESCE(NULLIF(trim(p->>'model'), ''), ''),
    (p->>'production_start_year')::integer,
    CASE WHEN p->>'production_end_year' IS NULL OR trim(p->>'production_end_year') = '' THEN NULL ELSE (p->>'production_end_year')::integer END,
    CASE WHEN p->>'production_start_month' IS NULL OR trim(p->>'production_start_month') = '' THEN NULL ELSE (p->>'production_start_month')::smallint END,
    CASE WHEN p->>'production_end_month' IS NULL OR trim(p->>'production_end_month') = '' THEN NULL ELSE (p->>'production_end_month')::smallint END,
    NULLIF(trim(p->>'trim_series'), ''),
    NULLIF(trim(p->>'generation'), ''),
    NULLIF(trim(p->>'full_model_code'), ''),
    NULLIF(trim(p->>'catalog_trim'), ''),
    NULLIF(trim(p->>'emissions_prefix'), ''),
    NULLIF(trim(p->>'trim_suffix_code'), ''),
    NULLIF(trim(p->>'chassis_code'), ''),
    NULLIF(trim(COALESCE(p->>'generation_code', p->>'chassis_code')), ''),
    NULLIF(trim(p->>'engine_code'), ''),
    NULLIF(trim(p->>'engine_type'), ''),
    NULLIF(trim(p->>'body_type'), ''),
    CASE WHEN p->>'doors' IS NULL OR trim(p->>'doors') = '' THEN NULL ELSE (p->>'doors')::integer END,
    CASE WHEN p->>'length_mm' IS NULL OR trim(p->>'length_mm') = '' THEN NULL ELSE (p->>'length_mm')::numeric END,
    CASE WHEN p->>'width_mm' IS NULL OR trim(p->>'width_mm') = '' THEN NULL ELSE (p->>'width_mm')::numeric END,
    CASE WHEN p->>'height_mm' IS NULL OR trim(p->>'height_mm') = '' THEN NULL ELSE (p->>'height_mm')::numeric END,
    CASE WHEN p->>'wheelbase_mm' IS NULL OR trim(p->>'wheelbase_mm') = '' THEN NULL ELSE (p->>'wheelbase_mm')::numeric END,
    CASE WHEN p->>'ground_clearance_mm' IS NULL OR trim(p->>'ground_clearance_mm') = '' THEN NULL ELSE (p->>'ground_clearance_mm')::numeric END,
    CASE WHEN p->>'engine_displacement_l' IS NULL OR trim(p->>'engine_displacement_l') = '' THEN NULL ELSE (p->>'engine_displacement_l')::numeric END,
    CASE WHEN p->>'engine_displacement_cc' IS NULL OR trim(p->>'engine_displacement_cc') = '' THEN NULL ELSE (p->>'engine_displacement_cc')::numeric END,
    NULLIF(trim(p->>'engine_configuration'), ''),
    NULLIF(trim(p->>'fuel_category'), ''),
    NULLIF(trim(p->>'fuel_type'), ''),
    NULLIF(trim(p->>'fuel_grade'), ''),
    NULLIF(trim(p->>'transmission'), ''),
    NULLIF(trim(p->>'drivetrain'), ''),
    CASE WHEN p->>'horsepower' IS NULL OR trim(p->>'horsepower') = '' THEN NULL ELSE (p->>'horsepower')::numeric END,
    CASE WHEN p->>'torque' IS NULL OR trim(p->>'torque') = '' THEN NULL ELSE (p->>'torque')::numeric END,
    NULLIF(trim(p->>'torque_unit'), ''),
    CASE WHEN p->>'fuel_tank_capacity' IS NULL OR trim(p->>'fuel_tank_capacity') = '' THEN NULL ELSE (p->>'fuel_tank_capacity')::numeric END,
    NULLIF(trim(p->>'fuel_tank_unit'), ''),
    CASE WHEN p->>'seating_capacity' IS NULL OR trim(p->>'seating_capacity') = '' THEN NULL ELSE (p->>'seating_capacity')::integer END,
    CASE WHEN p->>'curb_weight_kg' IS NULL OR trim(p->>'curb_weight_kg') = '' THEN NULL ELSE (p->>'curb_weight_kg')::numeric END,
    CASE WHEN p->>'gross_vehicle_weight_kg' IS NULL OR trim(p->>'gross_vehicle_weight_kg') = '' THEN NULL ELSE (p->>'gross_vehicle_weight_kg')::numeric END,
    CASE WHEN p->>'max_payload_kg' IS NULL OR trim(p->>'max_payload_kg') = '' THEN NULL ELSE (p->>'max_payload_kg')::numeric END,
    CASE WHEN p->>'max_towing_kg' IS NULL OR trim(p->>'max_towing_kg') = '' THEN NULL ELSE (p->>'max_towing_kg')::numeric END,
    NULLIF(trim(p->>'model_code'), ''),
    NULLIF(trim(p->>'front_brake_type'), ''),
    NULLIF(trim(p->>'rear_brake_type'), ''),
    CASE WHEN p->>'brake_size_mm' IS NULL OR trim(p->>'brake_size_mm') = '' THEN NULL ELSE (p->>'brake_size_mm')::numeric END,
    NULLIF(trim(p->>'tire_size'), ''),
    NULLIF(trim(p->>'bolt_pattern'), ''),
    CASE WHEN p->>'wheel_offset_mm' IS NULL OR trim(p->>'wheel_offset_mm') = '' THEN NULL ELSE (p->>'wheel_offset_mm')::numeric END,
    CASE WHEN p->>'engine_oil_capacity_l' IS NULL OR trim(p->>'engine_oil_capacity_l') = '' THEN NULL ELSE (p->>'engine_oil_capacity_l')::numeric END,
    CASE WHEN p->>'coolant_capacity_l' IS NULL OR trim(p->>'coolant_capacity_l') = '' THEN NULL ELSE (p->>'coolant_capacity_l')::numeric END,
    COALESCE((p->>'updated_at')::timestamptz, now())
  )
  RETURNING id INTO v_id;

  SELECT to_jsonb(vc) INTO out FROM public.vehicle_catalog vc WHERE vc.id = v_id;
  RETURN out;
END;
$$;

REVOKE ALL ON FUNCTION public.edge_insert_vehicle_catalog_row(jsonb) FROM PUBLIC;
GRANT EXECUTE ON FUNCTION public.edge_insert_vehicle_catalog_row(jsonb) TO service_role;

COMMENT ON FUNCTION public.edge_insert_vehicle_catalog_row(jsonb) IS
  'Motor catalog insert bypassing PostgREST column filtering when schema cache is stale. Edge (service_role) only.';

SELECT pg_sleep(1);
NOTIFY pgrst;
NOTIFY pgrst, 'reload schema';
