-- Fuel economy & estimated range per fill (CSV import / catalog UI)
ALTER TABLE public.vehicle_catalog
  ADD COLUMN IF NOT EXISTS fuel_economy_km_per_l numeric,
  ADD COLUMN IF NOT EXISTS estimated_km_per_refuel numeric;
