ALTER TABLE public.maintenance_task_templates
  DROP CONSTRAINT IF EXISTS maintenance_task_templates_interval_miles_range_check;

ALTER TABLE public.maintenance_task_templates
  ADD CONSTRAINT maintenance_task_templates_interval_miles_range_check
  CHECK (interval_miles_max IS NULL OR interval_miles IS NULL OR interval_miles_max >= interval_miles);
