-- Pending motor vehicle catalog proposals from fleet customers (queue for super-admin approval).

CREATE TABLE IF NOT EXISTS public.vehicle_catalog_pending_requests (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),

  organization_id text NOT NULL,
  fleet_vehicle_id text NOT NULL,

  proposed_make text NOT NULL,
  proposed_model text NOT NULL,
  proposed_year integer NOT NULL CHECK (proposed_year >= 1900 AND proposed_year <= 2100),
  proposed_trim_series text,
  proposed_body_type text,
  source text NOT NULL DEFAULT 'manual' CHECK (source IN ('scan', 'manual')),
  ocr_snapshot jsonb,

  status text NOT NULL DEFAULT 'pending' CHECK (status IN ('pending', 'approved', 'rejected', 'superseded')),

  resolved_vehicle_catalog_id uuid REFERENCES public.vehicle_catalog (id) ON DELETE SET NULL,
  resolved_by uuid,
  resolved_at timestamptz,
  rejection_reason text,

  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

CREATE INDEX IF NOT EXISTS idx_vcpending_org_status
  ON public.vehicle_catalog_pending_requests (organization_id, status);

CREATE INDEX IF NOT EXISTS idx_vcpending_status_created
  ON public.vehicle_catalog_pending_requests (status, created_at DESC);

CREATE INDEX IF NOT EXISTS idx_vcpending_proposed_mmy
  ON public.vehicle_catalog_pending_requests (proposed_make, proposed_model, proposed_year);

-- At most one active pending row per org + fleet vehicle
CREATE UNIQUE INDEX IF NOT EXISTS idx_vcpending_one_pending_per_vehicle
  ON public.vehicle_catalog_pending_requests (organization_id, fleet_vehicle_id)
  WHERE status = 'pending';

COMMENT ON TABLE public.vehicle_catalog_pending_requests IS 'Fleet-submitted motor catalog proposals awaiting super-admin approval.';

ALTER TABLE public.vehicle_catalog_pending_requests ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "vehicle_catalog_pending_no_direct_access" ON public.vehicle_catalog_pending_requests;
CREATE POLICY "vehicle_catalog_pending_no_direct_access"
  ON public.vehicle_catalog_pending_requests FOR ALL
  TO authenticated
  USING (false)
  WITH CHECK (false);
